<%= form_for(@promotion) do |f| %>
  <% if @promotion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@promotion.errors.count, "error") %> prohibited this promotion from being saved:</h2>

      <ul>
      <% @promotion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %> (doesn't matter what this is)
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email %> (use real email)
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :download_name %> (pick a name like flyer or brochure)
    <%= f.text_field :download_name %>
  </div>
  <div class="field">
    <%= f.label :download_link %> (use http://www.brighthope.org/downloads/misc_downloads/BH_BoardandKeyStaff.pdf)
    <%= f.text_field :download_link %>
  </div>
  <div class="field">
    <%= f.label :video_embed %> (use 21762736)
    <%= f.text_field :video_embed %>
  </div>
  <div class="field">
    <%= f.label :content %> (write whatever)
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :photo1 %> (use http://www.ruthlesslycreate.com/images/works/luckymonk/1.jpg)
    <%= f.text_field :photo1 %>
  </div>
  <div class="field">
    <%= f.label :photo2 %> (use http://www.ruthlesslycreate.com/images/works/luckymonk/2.jpg)
    <%= f.text_field :photo2 %>
  </div>
  <div class="field">
    <%= f.label :photo3 %> (use http://www.ruthlesslycreate.com/images/works/luckymonk/3.jpg)
    <%= f.text_field :photo3 %>
  </div>
  <div class="field">
    <%= f.label :photo4 %> (use http://www.ruthlesslycreate.com/images/works/luckymonk/4.jpg)
    <%= f.text_field :photo4 %>
  </div>
  <div class="field">
    <%= f.label :map_link %> (use http://goo.gl/maps/IhXGS)
    <%= f.text_area :map_link %>
  </div>
  <div class="field">
    <%= f.label :user_id %>
    <%= f.collection_select(:user_id, User.all, :id, :firstname) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
