<p id="notice"><%= notice %></p>

<div class="row">
  <div class="columns">
    <h1><%= @promotion.title %></h1>
    <h2><%= @promotion.subtitle %></h2>
  </div>
</div>

<div class="row">
  <div class="large-9 columns">

    <div class="flex-video widescreen vimeo">
      <iframe src="http://player.vimeo.com/video/<%= @promotion.video_embed %>?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>

    <ul class="inline-list">
      <li><a><i class="icon-phone"></i> <%= @promotion.phone %></a></li>
      <li><a href="mailto:<%= @promotion.email %>"><i class="icon-envelope"></i> Send an Email</a></li>
      <li><a href="<%= @promotion.download_link %>"><i class="icon-download"></i> Download <%= @promotion.download_name %></a></li>
      <li><a href="<%= @promotion.map_link %>"><i class="icon-map-marker"></i> Map</a></li>
    </ul>


    <p>
      <%= @promotion.content %>
    </p>



    <ul class="clearing-thumbs" data-clearing>
      <li><a class="th" href="<%= @promotion.photo1 %>"><img src="<%= @promotion.photo1 %>"></a></li>
      <li><a class="th" href="<%= @promotion.photo2 %>"><img src="<%= @promotion.photo2 %>"></a></li>
      <li><a class="th" href="<%= @promotion.photo3 %>"><img src="<%= @promotion.photo3 %>"></a></li>
      <li><a class="th" href="<%= @promotion.photo4 %>"><img src="<%= @promotion.photo4 %>"></a></li>
    </ul>


    <ul class="inline-list">
      <li><a><i class="icon-phone"></i> <%= @promotion.phone %></a></li>
      <li><a href="mailto:<%= @promotion.email %>"><i class="icon-envelope"></i> Send an Email</a></li>
      <li><a href="<%= @promotion.download_link %>"><i class="icon-download"></i> Download <%= @promotion.download_name %></a></li>
      <li><a href="<%= @promotion.map_link %>"><i class="icon-map-marker"></i> Map</a></li>
    </ul>




  </div>
  <div class="large-3 columns">

    <p>
      <b>User:</b>
      <%= @promotion.user.firstname %>
    </p>

    <p>
      <b>Password:</b>
      <%= @promotion.password %>
    </p>

    <%= link_to 'Edit', edit_promotion_path(@promotion) %> |
    <%= link_to 'Back', promotions_path %>

  </div>
</div>








