<p id="notice"><%= notice %></p>

<p>
  <b>Password:</b>
  <%= @promotion.password %>
</p>

<p>
  <b>Title:</b>
  <%= @promotion.title %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @promotion.subtitle %>
</p>

<p>
  <b>Phone:</b>
  <%= @promotion.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @promotion.email %>
</p>

<p>
  <b>Download name:</b>
  <%= @promotion.download_name %>
</p>

<p>
  <b>Download link:</b>
  <%= @promotion.download_link %>
</p>

<p>
  <b>Video embed:</b>
  <%= @promotion.video_embed %>
</p>

<p>
  <b>Content:</b>
  <%= @promotion.content %>
</p>

<p>
  <b>Photo1:</b>
  <%= @promotion.photo1 %>
</p>

<p>
  <b>Photo2:</b>
  <%= @promotion.photo2 %>
</p>

<p>
  <b>Photo3:</b>
  <%= @promotion.photo3 %>
</p>

<p>
  <b>Photo4:</b>
  <%= @promotion.photo4 %>
</p>

<p>
  <b>Map link:</b>
  <%= @promotion.map_link %>
</p>

<p>
  <b>User:</b>
  <%= @promotion.user_id %>
</p>


<%= link_to 'Edit', edit_promotion_path(@promotion) %> |
<%= link_to 'Back', promotions_path %>
