<!DOCTYPE html>
<html>
<head>
  <title>PlV1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><a href="#">30 Day Promo! </a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <ul class="center">
      <li class="divider"></li>
      <li> <%= link_to "New User", new_user_url%> </li>
      <li class="divider"></li>
      <li><%= link_to "New Promo", new_promotion_url%></li>
      <li class="divider"></li>
    </ul>
  </nav>

		<%= yield %>


</body>
</html>
